{% extends 'cart/layout.html.twig' %}
{% block title %}
    {% trans %}Cart{% endtrans %}
{% endblock %}
{% block body %}
    <h1>{% trans %}Your cart{% endtrans %}</h1>
    {% if cartDatas|length > 0 %}
        <div data-aos="zoom-in" data-aos-duration=" 2000">
            {% embed "component/molecules/tableDesign.html.twig" with {
            tableColor:'light'
        } %}
                {% block table_content %}
                    <thead>
                        <tr class="text-color-maisonphilo ">
                            <th>{% trans %}Image{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Price{% endtrans %}</th>
                            <th>{% trans %}Quantity{% endtrans %}</th>
                            <th>{% trans %}Action{% endtrans %}</th>
                            <th>{% trans %}Total Price{% endtrans %}</th>
                        </tr>
                    </thead>
                    {% for cartData in cartDatas %}
                        <tbody>
                            <tr>
                                <td>
                                    <img class="img-fluid" style="width:5em" src="{{asset('images/imagesUpload/' ~ cartData.product.image)}}" alt="{% trans %}Image of{% endtrans %} ~ {{cartData.product.title}}">
                                </td>
                                <td>{{cartData.product.title}}</td>
                                <td>{{cartData.product.price}}</td>
                                <td>{{cartData.quantity}}</td>
                                <td>
                                    <a href="{{path('app_cart_remove', {'id': cartData.product.id}) }} " class="btn text-center">
                                        <i class="fas fa-trash text-danger fs-5"></i>
                                    </a>
                                </td>
                                <td>{{(cartData.product.price * cartData.quantity)|format_currency('CFA')}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                    <tfoot>
                        <tr class="fw-bold text-color-maisonphilo ">
                            <td colspan="5" class="text-end">{% trans %}Total :{% endtrans %}</td>
                            <td>
                                {{total|format_currency('CFA')}}
                            </td>

                        </tr>
                        <td colspan=6 class="text-end">
                            <a href="https://buy.stripe.com/dR6036fgGcoTgnucMM" class="btn btn-outline-success" target="_blank">{% trans %}Payment{% endtrans %}</a>
                        </td>
                    </tfoot>
                {% endblock %}
            {% endembed %}
        </div>
    {% else %}
        {% embed "component/molecules/formDesign.html.twig" %}
            {% block form_content %}
                <div class="text-center">
                    <h1>
                        {% trans %}Your cart is empty{% endtrans %}
                    </h1>
                    <a href="{{path("app_productcustomer_showproducts")}} ">{% trans %}Click here for buy some products{% endtrans %}</a>
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
