{% extends 'account/layout.html.twig' %}
{% block title %}
    {% trans %}Password update{% endtrans %}
{% endblock %}
{% block body %}
    {% embed "component/molecules/formDesign.html.twig" %}
        {% block form_content %}
            <h1 class="text-center">{% trans %}Password update{% endtrans %}</h1>
            <div class="col-md-4 mx-auto">
                {{ form_start(formPassword) }}
                {{ form_row(formPassword.oldPassword) }}
                {{ form_row(formPassword.newPassword) }}
                {{ form_row(formPassword.confirmPassword) }}
                <input type="submit" class="btn button-philo col-md-12 mt-3" value="Modifier">
                {{ form_end(formPassword) }}
            </div>
            <div class="row justify-content-end">
                <a class='btn btn-outline-success p-2 col-md-3' href="{{ path('app_account_profile') }}">Retour</a>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
