{% extends 'account/layout.html.twig' %}
{% block title %}
    {% trans %}Profile{% endtrans %}
{% endblock %}
{% block body %}
    {% set profile = 'Please complete your profile' %}
    {% for message in app.flashes('edit') %}
        {% embed 'component/molecules/alertDesign.html.twig' with {
            message: message,
            alert: 'success'
        } %}{% endembed %}
    {% endfor %}
       {% for message in app.flashes('passwordUpdate') %}
        {% embed 'component/molecules/alertDesign.html.twig' with {
            message: message,
            alert: 'success'
        } %}{% endembed %}
    {% endfor %}
    <div class="row justify-content-center">
        <div class="col col-md-8 card text-dark bg-light mb-3 shadow">
            <div class="card-header text-center">
                {% if app.user.picture %}
                    <img src="{{ asset('/images/imagesUpload/' ~ app.user.picture) }} " alt="{% trans %}Profil image{% endtrans %}" style="max-width: 18rem;" class="rounded-circle"/>
                {% else %}
                    <i class="fas fa-user fs-1"></i>
                {% endif %}
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    {{(app.user.pseudo ?? app.user.email)|capitalize}}
                </h1>
                <p class="card-text">
                    <div class="card text-center mx-auto" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <span class="text-muted fst-italic">{% trans %}Email{% endtrans %}</span>
                            <li class="list-group-item">{{app.user.email}}</li>
                            <span class="text-muted fst-italic">{% trans %}First name{% endtrans %}</span>
                            <li class="list-group-item">{{app.user.firstName ?? profile|trans }}</li>
                            <span class="text-muted fst-italic">{% trans %}Last name{% endtrans %}</span>
                            <li class="list-group-item">{{app.user.lastName ?? profile|trans }}</li>

                        </ul>
                    </div>
                </p>
            </div>
            <div class="card-footer row justify-content-evenly">
                <a href="{{path('app_account_edit')}} " class="btn btn-outline-success col-md-3 col-7 text-site-or align-items-center d-flex justify-content-center mb-1">
                    <i class="fas fa-edit ms-2"></i>
                    {% trans %}Edit my profile{% endtrans %}</a>
                <a href="{{path('app_account_passwordupdate')}}" class="btn btn-danger col-md-3 col-7 align-items-center d-flex justify-content-center mb-1">
                    <i class="fas fa-unlock-alt ms-2"></i>
                    {% trans %}Edit my password{% endtrans %}</a>
                <a href="" class="btn btn-outline-success col-md-3 col-7 align-items-center d-flex justify-content-center mb-1">
                    <i class="fas fa-comments ms-2"></i>
                    {% trans %}Edit my comments{% endtrans %}</a>
            </div>
        </div>
    </div>


{% endblock %}
