{% extends 'base.html.twig' %}
{% block title %}Log in!
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{asset('css/formSecurity.css')}}"/>
{% endblock %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{% if app.flashes.success is defined %}
			<div class="alert alert-success text-center">{{ app.flashes.success|trans() }}</div>
		{% endif %}
		<div class="col-md-8 col-lg-5 mx-auto shadow-lg mt-5 p-5 rounded " data-aos="zoom-in" data-aos-duration="2000">

			<h1 class="fs-2 mb-3 fw-bold">{% trans %}Please login{% endtrans %}</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.See https://symfony.com/doc/current/security/remember_me.html<div class="checkbox mb-3"><label><input type="checkbox" name="_remember_me"> Remember me</label></div> #}
			<input type="submit" value="Connexion" class="button_philo btn btn-success col-md-12 mt-3 mb-3">
			<a href="{{path('app_forgot_password_request')}}">
				{% trans %}Forgot your password{% endtrans %}
			</a>
		</div>
	</form>
{% endblock %}
{% block footer %}{% endblock %}
