{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="col-md-8 col-lg-5 mx-auto shadow-lg mt-5 p-5 rounded " data-aos="zoom-in" data-aos-duration="2000">
		<h1 class="inscription ">Inscription</h1>


		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.pseudo) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.password)}}

		<button type="submit" value="registration" class="btn">Register</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
