{% extends "security/layout.html.twig" %}
{% block title %}
    {% trans %}Register{% endtrans %}
{% endblock %}
{% block body %}
    {% embed "component/molecules/formDesign.html.twig" %}
        {% block form_content %}
            <h1 class="inscription ">{% trans %}Register{% endtrans %}</h1>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password)}}
            <input type="submit" value="Inscription" class="button_philo btn btn-success col-md-12 mt-3 mb-3">
            {{ form_end(registrationForm) }}
            <a class="mt-3" href="">{% trans %}You already have an account, click here!{% endtrans %}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}