{% extends 'admin/layout.html.twig' %}
{% block title %}
    {% trans %}User{% endtrans %}
{% endblock %}
{% block body %}
    <h1>{% trans %}Utilisateur{% endtrans %}</h1>
    {% if user.picture is not empty %}
        <img class="rounded-circle img-fluid user-picture" src="{{asset('/images/imagesUpload/' ~ user.picture) }}" alt="picture users"/>
    {% else %}
        <i class="fas fa-user fs-1"></i>
    {% endif %}
    {% embed "component/molecules/tableDesign.html.twig" %}
        {% block table_content %}

            <tbody class="text-start">
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Created at{% endtrans %}</th>
                    <td>
                        {{user.createdAt|format_date}}
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>{% trans %}FirstName{% endtrans %}</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>{% trans %}LastName{% endtrans %}</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    {% if user.genre is not empty %}
                        {{user.genre == 'female' ? 'Mme' : 'Mr'|trans}}{{user.lastname}}
                    {% endif %}
                </tr>
                <tr>
                    <th>Genre</th>
                    <td>{{ user.genre }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.pseudo }}</td>
                </tr>
            </tbody>


        {% endblock %}
    {% endembed %}
    <a class="btn btn-outline-primary" href="{{ path('app_admin_index') }}">{% trans %}Back to the list{% endtrans %}</a>
    <div class="mt-2">{{ include('admin/_delete_form.html.twig') }}</div>
{% endblock %}
