<div class="row filter">
    <div class="fs-3 fw-bold text-center">{% trans %}Product filter{% endtrans %}</div>
    {{form_start(form, {attr: {class: "filter js-filter-form"}}) }}
    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display:none">
        <span class="sr-only">{% trans %}Loading{% endtrans %}...</span>
    </div>
    {{form_row(form.q)}}
    {% include "component/molecules/filterTitle.html.twig" with {
    title: "Category"
    } %}
    {{form_row(form.category)}}
    <h4 class="fw-bold text-secondary">{% trans %}Price{% endtrans %}</h4>
    <div class="row js-filter-form">
        {{form_row(form.min)}}
        {{form_row(form.max)}}
        <div id="price-slider"></div>
        <h4 class="fw-bold text-secondary">{% trans %}Promotion{% endtrans %}</h4>
    </div>
    {{form_row(form.promo)}}
    <a class="btn btn-outline-success d-block col-12" href="{{path('app_productcustomer_showproducts')}} ">{% trans %}Reset{% endtrans %}</a>
    {{form_end(form)}}
</div>
