{% extends "footer/layout.html.twig" %}
{% block body %}
    {% set webSitePhone = "+33644005872" %}
    {% set webSiteMail = "maisonphilo.contact@gmail.com" %}
    {% set webSiteURL = "https://www.maisonphilo.servgrouptn.com/" %}
    {% set websiteDelivryDelay = "72 heures" %}
    {% set webSiteAdress = "Quartier Bel Air, Abidjan" %}
    {% set webSiteExchangeDelay = "72 heures" %}

    <div class="text-justify">
        <div class="mb-5 text-center">
            <h3>Conditions générales de vente de produits en ligne à des consommateurs particuliers</h3>
        </div>

        <h6 class="mb-3 fw-bold">Préambule</h6>
        <p class="mb-2">
            Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet
            <span class="fw-bold">{{webSiteName|trans}}</span>
        </p>
        <p>Le site Internet
            <span class="bg-light text-info">{{webSiteURL}}</span>
            est un service de :
        </p>
        <ul>
            <li>
                <span>La société
                    {{webSiteName|trans}}</span>
            </li>
            <li>
                <span>Situé dans le quartier BelAir à Abidjan en Côte d'Ivoire</span>
            </li>
            <li>
                <span>adresse URL du site :
                    <span class="bg-light text-info">{{webSiteURL}}</span>
                </span>
            </li>
            <li>
                <span>e-mail :
                    <span class="bg-light text-info">{{webSiteMail}}</span>
                </span>
            </li>
            <li>
                <span>numéro de téléphone :
                    {{webSitePhone}}</span>
            </li>
        </ul>
        <div>
            <p>Le site Internet
                {{webSiteName|trans}}
                commercialise des produits divers pour le troisième âge.
            </p>
            <p>Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. La validation de la commande vaut donc acceptation des conditions générales de vente.</p>
        </div>
        <h6 class="mb-3 fw-bold">Article 1 - Principes</h6>
        <p>Les présentes conditions générales expriment l'intégralité des obligations des parties. En ce sens, l'acheteur est réputé les accepter sans réserve.</p>
        <p>Les présentes conditions générales de vente s'appliquent à l'exclusion de toutes autres conditions, et notamment celles applicables pour les ventes en magasin ou au moyen d'autres circuits de distribution et de commercialisation.</p>
        <p>Elles sont accessibles sur le site internet
            {{webSiteName|trans}}
            et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
        </p>
        <p>Le vendeur et l'acheteur conviennent que les présentes conditions générales régissent exclusivement leur relation. Le vendeur se réserve le droit de modifier ponctuellement ses conditions générales. Elles seront applicables dès leur mise en ligne.</p>
        <p>Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans le secteur de la vente à distance dont les sociétés ont leur siège en France.</p>
        <p>Les présentes conditions générales de vente sont valables jusqu'au 31 decembre 2022
        </p>
        <h6 class="mt-3 mb-3 fw-bold">Article 2 - Contenu</h6>
        <p>Les présentes conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne de biens proposés par le vendeur à l'acheteur, à partir du site internet.
        </p>
        <p>Les présentes conditions ne concernent que les achats effectués sur le site de
            {{webSiteName|trans}}
            et livrés exclusivement en métropole ou en Corse. Pour toute livraison dans les DOM-TOM ou à l’étranger, il convient d'adresser un message à l’adresse e-mail suivante :
            <span class="bg-light">
                maisonphilo.contact@gmail.com</span>
        </p>
        <p>Ces achats concernent les produits divers pour le troisième âge.
        </p>

        <h6 class="mt-3 mb-3 fw-bold">
            Article 3 - Informations précontractuelles
        </h6>
        <p>L'acheteur reconnaît avoir eu communication, préalablement à la passation de sa commande et à la conclusion du contrat, d'une manière lisible et compréhensible, des présentes conditions générales de vente et de toutes les informations listées à l'article L. 221-5 du code de la consommation.</p>
        <p>Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :</p>
        <ul>
            <li>les caractéristiques essentielles du bien ;</li>
            <li>le prix du bien et/ou le mode de calcul du prix ;</li>
            <li>s'il y a lieu, tous les frais supplémentaires de transport, de livraison ou d'affranchissement et tous les autres frais éventuels exigibles ;</li>
            <li>en l'absence d'exécution immédiate du contrat, la date ou le délai auquel le vendeur s'engage à livrer le bien, quel que soit son prix ;</li>
            <li>- les informations relatives à l'identité du vendeur, à ses coordonnées postales, téléphoniques et électroniques, et à ses activités, celles relatives aux garanties légales, aux fonctionnalités du contenu numérique et, le cas échéant, à son interopérabilité, à l'existence et aux modalités de mise en oeuvre des garanties et autres conditions contractuelles.</li>
        </ul>
        <h6 class="mt-3 mb-3 fw-bold">
            Article 4 - La commande
        </h6>
        <p>L'acheteur a la possibilité de passer sa commande en ligne, à partir du catalogue en ligne et au moyen du formulaire qui y figure, pour tout produit, dans la limite des stocks disponibles.</p>
        <p>L'acheteur sera informé de toute indisponibilité du produit ou du bien commandé.</p>
        <p>
            <span>Pour que la commande soit validée, l'acheteur devra accepter, en cliquant à l'endroit indiqué, les présentes conditions générales. Il devra aussi choisir l'adresse et le mode de livraison, et enfin valider le mode de paiement.</span>
        </p>
        <p>
            <span>La vente sera considérée comme définitive :</span>
        </p>
        <ul>
            <li>
                <span>après l'envoi à l'acheteur de la confirmation de l'acceptation de la commande par le vendeur par courrier électronique ;</span>
            </li>

            <li>
                <span>et après encaissement par le vendeur de l'intégralité du prix.</span>
            </li>
        </ul>
        <p>
            <span>Toute commande vaut acceptation des prix et de la description des produits disponibles à la vente. Toute contestation sur ce point interviendra dans le cadre d'un éventuel échange et des garanties ci-dessous mentionnées.</span>
        </p>
        <p>
            <span>Dans certains cas, notamment défaut de paiement, adresse erronée ou autre problème sur le compte de l'acheteur, le vendeur se réserve le droit de bloquer la commande de l'acheteur jusqu'à la résolution du problème.</span>
        </p>
        <p>
            <span>Pour toute question relative au suivi d'une commande, l'acheteur peut appeler le numéro de téléphone suivant :
                {{webSitePhone}}
            </span>
            (coût d'un appel local), aux jours et horaires suivants : du lundi au vendredi, de 8h à 21h, ou envoyer un mail au vendeur à l’adresse mail suivante :
            {{webSiteMail}}

            <h6 class="mt-3 mb-3 fw-bold">
                <span>Article 5 - Signature électronique</span>
            </h6>
        </p>
        <p>
            <span>La fourniture en ligne du numéro de carte bancaire de l'acheteur et la validation finale de la commande vaudront preuve de l'accord de l'acheteur :</span>
        </p>
        <ul>
            <li>exigibilité des sommes dues au titre du bon de commande ;</li>
            <li>signature et acception expresse de toutes les opérations effectuées.</li>
        </ul>
        <p>
            <span>En cas d'utilisation frauduleuse de la carte bancaire, l'acheteur est invité, dès le constat de cette utilisation, à contacter le vendeur au numéro de téléphone suivant :
                {{webSitePhone}}
            </span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 6 - Confirmation de commande</span>
        </h6>
        <p>
            <span>Le vendeur fournit à l'acheteur une confirmation de commande, par messagerie électronique.</span>
        </p>

        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 7 - Preuve de la transaction</span>
        </h6>
        <p>
            <span>Les registres informatisés, conservés dans les systèmes informatiques du vendeur dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, des commandes et des paiements intervenus entre les parties. L'archivage des bons de commande et des factures est effectué sur un support fiable et durable pouvant être produit à titre de preuve.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 8 - Informations sur les produits</span>
        </h6>
        <p>
            <span>Les produits régis par les présentes conditions générales sont ceux qui figurent sur le site internet du vendeur et qui sont indiqués comme vendus et expédiés par le vendeur. Ils sont proposés dans la limite des stocks disponibles.</span>
        </p>
        <p>
            <span>Les produits sont décrits et présentés avec la plus grande exactitude possible. Toutefois, si des erreurs ou omissions ont pu se produire quant à cette présentation, la responsabilité du vendeur ne pourrait être engagée.</span>
        </p>
        <p>
            <span>Les photographies des produits ne sont pas contractuelles.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 9 - Prix</span>
        </h6>
        <p>
            <span>Le vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.</span>
        </p>
        <p>
            <span>Les prix sont indiqués en euros. Ils ne tiennent pas compte des frais de livraison, facturés en supplément, et indiqués avant la validation de la commande. Les prix tiennent compte de la TVA applicable au jour de la commande et tout changement du taux applicable TVA sera automatiquement répercuté sur le prix des produits de la boutique en ligne.
            </span>
        </p>
        <p>
            <span>Si une ou plusieurs taxes ou contributions, notamment environnementales, venaient à être créées ou modifiées, en hausse comme en baisse, ce changement pourra être répercuté sur le prix de vente des produits.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 10 - Mode de paiement</span>
        </h6>
        <p>
            <span>Il s'agit d'une commande avec obligation de paiement, ce qui signifie que la passation de la commande implique un règlement de l'acheteur.</span>
        </p>
        <p>
            <span>Pour régler sa commande, l'acheteur dispose, à son choix, de l'ensemble des modes de paiement mis à sa disposition par le vendeur et listés sur le site du vendeur. L'acheteur garantit au vendeur qu'il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi par lui, lors de la validation du bon de commande. Le vendeur se réserve le droit de suspendre toute gestion de commande et toute livraison en cas de refus d'autorisation de paiement par carte bancaire de la part des organismes officiellement accrédités ou en cas de non-paiement. Le vendeur se réserve notamment le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d'administration.</span>
        </p>
        <p>
            <span>Le paiement du prix s'effectue en totalité au jour de la commande, selon les modalités suivantes :</span>
        </p>
        <ul>
            <li>carte bancaire</li>
            <li>paypal</li>
        </ul>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 11 - Disponibilité des produits - Remboursement - Résolution</span>
        </h6>
        <p>
            <span>Sauf en cas de force majeure ou lors des périodes de fermeture de la boutique en ligne qui seront clairement annoncées sur la page d'accueil du site, les délais d'expédition seront, dans la limite des stocks disponibles, ceux indiqués ci-dessous. Les délais d'expédition courent à compter de la date d'enregistrement de la commande indiquée sur le mail de confirmation de la commande.</span>
        </p>
        <p>
            <span>Pour les livraisons en Côte d'Ivoire, le délai est de
                {{websiteDelivryDelay}}
                à compter du jour suivant celui où l'acheteur a passé sa commande. Au plus tard, le délai sera de 30 jours ouvrables après la conclusion du contrat.
            </span>
        </p>
        <p>
            <span>En cas de non-respect de la date ou du délai de livraison convenu, l'acheteur devra, avant de rompre le contrat, enjoindre au vendeur d'exécuter celui-ci dans un délai supplémentaire raisonnable.</span>
        </p>
        <p>
            <span>À défaut d'exécution à l'expiration de ce nouveau délai, l'acheteur pourra librement rompre le contrat.</span>
        </p>
        <p>
            <span>L'acheteur devra accomplir ces formalités successives par lettre recommandée avec accusé de réception ou par un écrit sur un autre support durable.</span>
        </p>
        <p>
            <span>Le contrat sera considéré comme résolu à la réception par le vendeur de la lettre ou de l'écrit l'informant de cette résolution, sauf si le professionnel s'est exécuté entre-temps.</span>
        </p>
        <p>
            <span>L'acheteur pourra cependant résoudre immédiatement le contrat, si les dates ou délais vu ci-dessus constituent pour lui une condition essentielle du contrat.</span>
        </p>
        <p>
            <span>Dans ce cas, lorsque le contrat est résolu, le vendeur est tenu de rembourser l'acheteur de la totalité des sommes versées, au plus tard dans les
            </span>
            <span class="fw-bold">
                14 jours
            </span>
            <span>suivant la date à laquelle le contrat a été dénoncé.</span>
        </p>
        <p>
            <span>En cas d'indisponibilité du produit commandé, l'acheteur en sera informé au plus tôt et aura la possibilité d'annuler sa commande. L'acheteur aura alors le choix de demander soit le remboursement des sommes versées dans les 14 jours au plus tard de leur versement, soit l'échange du produit.</span>
        </p>

        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 12 - Modalités de livraison</span>
        </h6>
        <p>
            <span>La livraison s'entend du transfert au consommateur de la possession physique ou du contrôle du bien. Les produits commandés sont livrés selon les modalités et le délai précisés ci-dessus.</span>
        </p>
        <p>
            <span>Les produits sont livrés à l'adresse indiquée par l'acheteur sur le bon de commande, l'acheteur devra veiller à son exactitude. Tout colis renvoyé au vendeur à cause d'une adresse de livraison erronée ou incomplète sera réexpédié aux frais de l'acheteur. L'acheteur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation et non à l'adresse de livraison, en validant l'option prévue à cet effet sur le bon de commande.</span>
        </p>
        <p>
            <span>Si l'acheteur est absent le jour de la livraison, le livreur laissera un avis de passage dans la boîte aux lettres, qui permettra de retirer le colis aux lieu et délai indiqués.</span>
        </p>
        <p>
            <span>Si au moment de la livraison, l'emballage d'origine est abîmé, déchiré, ouvert, l'acheteur doit alors vérifier l'état des articles. S'ils ont été endommagés, l'acheteur doit impérativement refuser le colis et noter une réserve sur le bordereau de livraison (colis refusé car ouvert ou endommagé).</span>
        </p>
        <p>
            <span>L'acheteur doit indiquer sur le bon de livraison et sous forme de réserves manuscrites accompagnées de sa signature toute anomalie concernant la livraison (avarie, produit manquant par rapport au bon de livraison, colis endommagé, produits cassés...).</span>
        </p>
        <p>
            <span>Cette vérification est considérée comme effectuée dès lors que l'acheteur, ou une personne autorisée par lui, a signé le bon de livraison.</span>
        </p>
        <p>
            <span>L'acheteur devra alors confirmer par courrier recommandé ces réserves au transporteur au plus tard dans les deux jours ouvrables suivant la réception du ou des articles et transmettre une copie de ce courrier par fax ou simple courrier au vendeur à l'adresse indiquée dans les mentions légales du site.</span>
        </p>
        <p>
            <span>Si les produits nécessitent d'être renvoyés au vendeur, ils doivent faire l'objet d'une demande de retour auprès du vendeur dans les 14 jours suivant la livraison. Toute réclamation formulée hors de ce délai ne pourra être acceptée. Le retour du produit ne pourra être accepté que pour les produits dans leur état d'origine (emballage, accessoires, notice...).</span>
        </p>


        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 13 - Erreurs de livraison</span>
        </h6>
        <p>
            <span>L'acheteur devra formuler auprès du vendeur le jour même de la livraison ou au plus tard le premier jour ouvré suivant la livraison, toute réclamation d'erreur de livraison et/ou de non-conformité des produits en nature ou en qualité par rapport aux indications figurant sur le bon de commande. Toute réclamation formulée au-delà de ce délai sera rejetée.</span>
        </p>
        <p>
            <span>La réclamation pourra être faite, au choix de l'acheteur :</span>
        </p>
        <ul>
            <li>
                <span>- par téléphone au numéro suivant :
                    {{webSitePhone}}
                </span>
            </li>
            <li>
                <span>- par e-mail à l'adresse suivante :
                    {{webSiteMail}}
                </span>
            </li>
        </ul>
        <p>
            <span>Toute réclamation non effectuée dans les règles définies ci-dessus et dans les délais impartis ne pourra être prise en compte et dégagera le vendeur de toute responsabilité vis-à-vis de l'acheteur.</span>
        </p>
        <p>
            <span>À réception de la réclamation, le vendeur attribuera un numéro d'échange du ou des produit(s) concerné(s) et le communiquera par e-mail à l'acheteur. L'échange d'un produit ne peut avoir lieu qu'après l'attribution du numéro d'échange.</span>
        </p>
        <p>
            <span>En cas d'erreur de livraison ou d'échange, tout produit à échanger ou à rembourser devra être retourné au vendeur dans son ensemble et dans son emballage d'origine, en colis recommandé, à l'adresse suivante :
                {{webSiteAdress}}.
            </span>
            <span class="fw-bold">Les frais de retour sont à la charge du vendeur</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 14 - Garantie des produits</span>
        </h6>
        <h6 class="ms-5 mt-3 mb-3 fw-bold">
            <span>Article 14-1 Garantie légale de conformité</span>
        </h6>
        <p>
            <span>Le vendeur est garant de la conformité du bien vendu au contrat, permettant à l'acheteur de formuler une demande au titre de la garantie légale de conformité prévue aux articles L. 217-4 et suivants du code de la consommation.</span>
        </p>
        <p>
            <span>En cas de mise en oeuvre de la garantie légale de conformité, il est rappelé que :</span>
        </p>
        <ul>
            <li>
                <span>l'acheteur bénéficie d'un délai de 2 ans à compter de la délivrance du bien pour agir ;</span>
            </li>

            <li>
                <span>l'acheteur peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 217-17 du code de la consommation ;</span>
            </li>

            <li>
                <span>l'acheteur n’a pas à apporter la preuve de la non-conformité du bien durant les 24 mois en cas de biens neufs (6 mois en cas de biens d'occasion), suivant la délivrance du bien.</span>
            </li>
        </ul>
        <h6 class="ms-5 mt-3 mb-3 fw-bold">
            <span>Article 14-2 Garantie légale des vices cachés</span>
        </h6>
        <div>
            <p>
                <span>Conformément aux articles 1641 et suivants du code civil, le vendeur est garant des vices cachés pouvant affecter le bien vendu. Il appartiendra à l'acheteur de prouver que les vices existaient à la vente du bien et sont de nature à rendre le bien impropre à l'usage auquel il est destiné. Cette garantie doit être mise en oeuvre dans un délai de deux ans à compter de la découverte du vice.
                </span>
            </p>
            <p>
                <span>L'acheteur peut choisir entre la résolution de la vente ou une réduction du prix conformément à l'article 1644 du code civil.</span>
            </p>
        </div>
        <span class="fst-italic">Garantie commerciale</span>
        <p>
            <span>Les produits vendus sont également couverts par une garantie commerciale visant à garantir leur conformité et assurant le remboursement du prix d'achat, le remplacement ou la réparation des biens. Elle ne couvre pas les défauts occasionnés du fait d'une utilisation anormale ou fautive ou résultant d'une cause étrangère aux qualités intrinsèques des produits.
            </span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 15 - Droits de rétractation</span>
        </h6>
        <p>
            <span class="text-decoration-underline">Application du droit de rétractation</span>
        </p>
        <p>
            <span>Conformément aux dispositions du code de la consommation, l'acheteur dispose d'un délai de 14 jours à compter de la date de livraison de sa commande, pour retourner tout article ne lui convenant pas et demander l'échange ou le remboursement sans pénalité, à l'exception des frais de retour qui restent à la charge de l'acheteur.</span>
        </p>
        <p>
            <span>Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.</span>
        </p>
        <p>
            <span>
                Les produits endommagés, salis ou incomplets ne sont pas repris.
            </span>
        </p>
        <p>
            <span>Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation disponible sur ce site internet. Dans ce cas, un accusé de réception sur un support durable sera immédiatement communiqué à l'acheteur. Tout autre mode de déclaration de rétractation est accepté. Il doit être dénué d'ambiguïté et exprimer la volonté de se rétracter.</span>
        </p>
        <p>
            <span>En cas d'exercice du droit de rétractation dans le délai susvisé, sont remboursés le prix du ou des produit(s) acheté(s) et les frais de livraison sont remboursés.</span>
        </p>
        <p>
            <span>Les frais de retour sont à la charge de l'acheteur.</span>
        </p>
        <p>
            <span>L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de
                {{webSiteExchangeDelay}}
                , et au plus tard, dans le délai de 14 jours à compter de la réception, par le vendeur, des produits retournés par l'acheteur dans les conditions prévues ci-dessus.
            </span>
        </p>
        <p>
            <span class="text-decoration-underline">Exceptions</span>
        </p>
        <p>
            <span>Selon l'article L221-28 du Code de la consommation, le droit de rétractation ne peut pas être exercé pour les contrats :</span>
        </p>
        <ul>
            <li>
                <span>- de fourniture de biens dont le prix dépend de fluctuations sur le marché financier échappant au contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation ;</span>

            </li>
            <li>
                <span>- de fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;</span>

            </li>
            <li>
                <span>- de fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;</span>

            </li>
            <li>
                <span>- de fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé ;</span>

            </li>
            <li>
                <span>- de fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles ;</span>

            </li>
            <li>
                <span>- de travaux d'entretien ou de réparation à réaliser en urgence au domicile du consommateur et expressément sollicités par lui, dans la limite des pièces de rechange et travaux strictement nécessaires pour répondre à l'urgence ;</span>


            </li>
            <li>
                <span>- de fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison ;</span>

            </li>
            <li>
                <span>- de fourniture d'un journal, d'un périodique ou d'un magazine, sauf pour les contrats d'abonnement à ces publications ;</span>

            </li>
            <li>
                <span>- de fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.</span>
            </li>
        </ul>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 16 - Force majeure</span>
        </h6>
        <p>
            <span>Toutes circonstances indépendantes de la volonté des parties empêchant l'exécution dans des conditions normales de leurs obligations sont considérées comme des causes d'exonération des obligations des parties et entraînent leur suspension.</span>
        </p>
        <p>
            <span>La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l'autre partie de leur survenance, ainsi que de leur disparition.</span>
        </p>
        <p>
            <span>Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être empêchés par ces dernières, malgré tous les efforts raisonnablement possibles. De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre, l'arrêt des réseaux de télécommunication ou difficultés propres aux réseaux de télécommunication externes aux clients.</span>
        </p>
        <p>
            <span>Les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution du contrat sera poursuivie. Si le cas de force majeure a une durée supérieure à trois mois, les présentes conditions générales pourront être résiliées par la partie lésée.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 17 - Propiété intellectuelle</span>
        </h6>
        <p>
            <span>Le contenu du site internet reste la propriété du vendeur, seul titulaire des droits de propriété intellectuelle sur ce contenu.</span>
        </p>
        <p>
            <span>Les acheteurs s'engagent à ne faire aucun usage de ce contenu ; toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 18 - Informatiques et Libertés</span>
        </h6>
        <p>
            <span>Les données nominatives fournies par l'acheteur sont nécessaires au traitement de sa commande et à l'établissement des factures.</span>
        </p>
        <p>
            <span>Elles peuvent être communiquées aux partenaires du vendeur chargés de l'exécution, du traitement, de la gestion et du paiement des commandes.</span>
        </p>
        <p>
            <span>Le traitement des informations communiquées par l'intermédiaire du site internet
                {{webSiteURL}}
                a fait l'objet d'une déclaration auprès de la CNIL.
            </span>
        </p>
        <p>
            <span>L'acheteur dispose d'un droit d'accès permanent, de modification, de rectification et d'opposition s'agissant des informations le concernant. Ce droit peut être exercé dans les conditions et selon les modalités définies sur le site
                {{webSiteURL}}
            </span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 19 - Non-validation partielle</span>
        </h6>
        <p>
            <span>Si une ou plusieurs stipulations des présentes conditions générales sont tenues pour non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 20 - Non-renonciation</span>
        </h6>
        <p>
            <span>Le fait pour l'une des parties de ne pas se prévaloir d'un manquement par l'autre partie à l'une quelconque des obligations visées dans les présentes conditions générales ne saurait être interprété pour l'avenir comme une renonciation à l'obligation en cause.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 21 - Titre</span>
        </h6>
        <p>
            <span>En cas de difficulté d'interprétation entre l'un quelconque des titres figurant en tête des clauses, et l'une quelconque des clauses, les titres seront déclarés inexistants.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 22 - Langue du contrat</span>
        </h6>
        <p>
            <span>Les présentes conditions générales de vente sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 23 - Médiation et règlement des litiges</span>
        </h6>
        <p>
            <span>L'acheteur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation. Les noms, coordonnées et adresse électronique du médiateur sont disponibles sur notre site.</span>
        </p>
        <p>
            <span class="d-none">Conformément à l’article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne. Cette plateforme est accessible au lien suivant :
            </span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 24 - Loi applicable</span>
        </h6>
        <p>
            <span>Les présentes conditions générales sont soumises à l'application du droit ivoirien. Le tribunal compétent est le tribunal judiciaire.</span>
        </p>
        <p>
            <span>Il en est ainsi pour les règles de fond comme pour les règles de forme. En cas de litige ou de réclamation, l'acheteur s'adressera en priorité au vendeur pour obtenir une solution amiable.</span>
        </p>
        <h6 class="mt-3 mb-3 fw-bold">
            <span>Article 25 - Protection des données personnelles</span>
        </h6>
        <p>
            <span class="text-decoration-underline">Données collectées</span>
        </p>
        <p>
            <span>Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :</span>
        </p>
        <ul>
            <li>
                <span class="fw-bold">ouverture de compte :
                </span>
                <span>lors de la création du compte de l'utilisateur, ses nom; prénom; adresse électronique; n° de téléphone; adresse postale;
                </span>
            </li>
            <li>
                <span class="fw-bold">connexion :
                </span>
                <span>lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement ;</span>

            </li>

            <li>
                <span class="fw-bold">profil :
                </span>
                <span>l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone ;</span>

            </li>
            <li>
                <span class="fw-bold">paiement :
                </span>
                <span>dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur ;</span>
            </li>
            <li>
                <span class="fw-bold">cookies :
                </span>
                <span>
                    les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.</span>
            </li>
        </ul>
        <p>
            <span class="text-decoration-underline">Utilisation des données personnelles
            </span>
        </p>
        <p>
            <span>Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes :</span>
        </p>
        <ul>
            <li>
                <span>accès et utilisation du site web par l'utilisateur ;</span>

            </li>
            <li>
                <span>gestion du fonctionnement et optimisation du site web ;</span>

            </li>
            <li>
                <span>organisation des conditions d'utilisation des Services de paiement ;</span>
            </li>
            <li>
                <span>vérification, identification et authentification des données transmises par l'utilisateur ;</span>
            </li>
        </ul>
        <p>
            <span class="text-decoration-underline">Sécurité et confidentialité
            </span>
        </p>
        <p>
            <span>Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.</span>
        </p>
        <p>
            <span class="text-decoration-underline">Mise en oeuvre des droits des utilisateurs
            </span>
        </p>
        <p>
            <span>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante :
                {{webSiteMail}}
            </span>
        </p>
        <ul>
            <li>
                <span>le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude.
                </span>
            </li>
            <li>
                <span>le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à jour des informations.</span>
            </li>
            <li>
                <span>le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.
                </span>
            </li>
            <li>
                <span>le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD.
                </span>
            </li>
            <li>
                <span>le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD.
                </span>
            </li>
            <li>
                <span>le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.</span>
            </li>
        </ul>
        <p>
            <span class="text-decoration-underline">Evolution de la présente clause
            </span>
        </p>
        <p>
            <span>Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.</span>
        </p>
    </div>
{% endblock %}
