{{ form_start(form, {
        'attr' : {
            class: 'mb-3 form-floating'
        },
    })
    }}
{{ form_row(form.title, {
    label : 'Title'| trans,
    attr : {
        class : 'form-control'    
    }
}) }}
{{ form_row(form.price, {
    label : 'Price'| trans,
    attr :{
        class : 'form-control'
    }
}) 
}}
{{ form_row(form.description, {
    label : 'Description'| trans,
    attr :{
        class : 'form-control mb-3',

    }
}) 
}}
<div id="drop-area">
    {{ form_row(form.image, {
        label : 'Image'| trans,
        attr : {
            class : 'form-control',
            onChange : 'handleFiles(this.files)',
            'multiple accept' : 'image/*'

        }
    }) }}
<label class="button" for="product_image">Select some files</label>
    <progress id="progress-bar" max="100" value="0"></progress>

<div id="gallery"></div></div>
{% include "component/atoms/form_validation.html.twig" %}

{{ form_end(form) }}
