{% extends 'product/layout.html.twig' %}
{% block title %}
    {% trans %}Product index{% endtrans %}
{% endblock %}
{% block body %}
    <h1>{% trans %}Product index{% endtrans %}</h1>
    <a href="{{ path('app_product_new') }}" class="btn btn-outline-warning mb-3">{% trans %}Create new{% endtrans %}</a>
    {% embed "component/molecules/tableDesign.html.twig" %}
        {% block table_content %}
            <thead>
                <tr>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Price{% endtrans %}</th>
                    <th>{% trans %}Stock{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}Category{% endtrans %}</th>
                    <th>{% trans %}Image{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.title|trans }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{product.category.title ?? ''}}</td>
                        <td>
                            <a href="{{ asset('/images/imagesUpload/' ~ product.image) }}" target="blank">
                                <img src="{{ asset('/images/imagesUpload/' ~ product.image) }}" alt="" class="rounded-circle">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">
                                <i class="fas fa-eye text-primary"></i>
                            </a>
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">
                                <i class="fas fa-edit text-warning ms-2"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endblock %}
    {% endembed %}
    <div class="fs-5">{{ knp_pagination_render(products) }}</div>
{% endblock %}
