{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Product index{% endtrans %}
{% endblock %}
{% block body %}
    <h1>{% trans %}Product index{% endtrans %}</h1>
    {% embed "component/molecules/tableDesign.html.twig" %}
        {% block table_content %}
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Price{% endtrans %}</th>
                    <th>{% trans %}Stock{% endtrans %}</th>
                    <th>{% trans %}Image{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.title|trans }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>
                            <a href="{{ asset('/images/imagesUpload/' ~ product.image) }}" target="blank">
                                <img src="{{ asset('/images/imagesUpload/' ~ product.image) }}" alt="" class="rounded-circle w-25">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endblock %}
    {% endembed %}
    <a href="{{ path('app_product_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
