{% extends 'base.html.twig' %}

{% block title %}{% trans %}Product index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Product index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">{% trans %}Create new product{% endtrans %}</a>
{% endblock %}
