{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}Product index{% endtrans %}
{% endblock %}
{% block body %}
    <h1>{% trans %}Product index{% endtrans %}</h1>
    {% embed "component/molecules/tableDesign.html.twig" %}
        {% block table_content %}
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Image{% endtrans %}</th>
                    <th>{% trans %}Price{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="align-middle">
                        <td>{{ product.id }}</td>
                        <td>{{ product.title|trans }}</td>
                        <td><img class="rounded-circle" src="{{asset('images/imagesUpload/' ~ product.image) }}" alt=""/></td>

                        <td>{{ product.price | format_currency(currency) }}</td>
                        <td>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">
                                <i class="fas fa-eye btn-success btn"></i>
                            </a>
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">
                                <i class="fas fa-edit btn-warning btn"></i>
                            </td>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endblock %}
    {% endembed %}
    <a href="{{ path('app_product_new') }}" class="btn button-philo">{% trans %}Create new product{% endtrans %}</a>
{% endblock %}
