{% extends 'product/layout.html.twig' %}
{% block title %}Product
{% endblock %}
{% block body %}
    {% embed "component/molecules/tableDesign.html.twig" %}
        {% block table_content %}
            <h1>{% trans %}Product{% endtrans %}</h1>
            <tbody class="text-start">
                <tr>
                    <th>{% trans %}Product reference number{% endtrans %}</th>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <td>{{ product.title }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Price{% endtrans %}</th>
                    <td>{{ product.price }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Stock{% endtrans %}</th>
                    <td>{{ product.stock }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <td>
                        <ul class="list-group">
                            {% for product in product.description|split('|') %}
                                <li class="list-group-item bg-transparent {{class|default('text-light')}}">{{product|trans}}</li>
                            {% endfor %}
                            {% for product in product.description1|split('|') %}
                                <li class="list-group-item bg-transparent {{class|default('text-light')}}">{{product|trans}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Marque</th>
                    <td>
                        {% for product in product.description2|split('|') %}
                            <li class="list-group-item bg-transparent {{class|default('text-light')}}">{{product|trans}}</li>
                        {% endfor %}
                    </td>
                </tr>

                <th>{% trans %}Category{% endtrans %}</th>
                <td>
                    {{product.category.title|trans}}
                </td>
                <tr>
                    <th>Image</th>
                    <td><img src="{{asset('images/imagesUpload/' ~ product.image)}}" class="rounded-circle w-50" alt="Image d'une chaise roulante"></td>
                </tr>
            </tbody>
        {% endblock %}
    {% endembed %}
    <div class="justify-content-center">
        <div class="mb-3">
            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-outline-warning">{% trans %}Edit the product{% endtrans %}</a>
        </div>
        <div>
            <a href="{{ path('app_product_index') }}" class="btn btn-outline-primary">{% trans %}Back to the product list{% endtrans %}</a>
        </div>
        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
