{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product main page |{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
    <h1>{% trans %}Page{% endtrans %}
        {{products.page}}
    </h1>
    {% include "component/atoms/pagination.html.twig" %}
    <div class="row justify-content-evenly align-middle">
        {% for product in products %}
            <div class="card col-lg-2 border-success border-2 pb-5 mb-2" style="width: 18rem;">
                <div class="card bg-homypay text-light text-center mt-2">
                    {{product.price|format_currency('CFA')}}
                </div>
                <a href="{{path('app_productcustomer_show', {'id' : product.id }) }} ">
                    <div class="card-header">
                        <img src="{{asset('images/imagesUpload/' ~ product.image)}}" class="card-img-top img-fluid" alt="{% trans %}Image of{% endtrans %} {{product.title}} ">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-secondary text-center">{{product.title}}</h5>
                        <p class="text-dark">{% include "component/atoms/description_ul.html.twig" with {
                        "class" : "text-dark"
                    } %}</p>
                    </a>
                </div>
                <div class="text-center mb-2 position-absolute fixed-bottom">
                    <a href="{{path('app_cart_add', {'id' : product.id})}} " class="btn btn-success">{% trans %}Add to cart{% endtrans %}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "component/atoms/pagination.html.twig" %}
{% endblock %}
