{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product main page |{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
    <div class="d-none">
        <span id="add-cart">{% trans %}Ce produit a bien été ajouté au panier{% endtrans %}</span>
    </div>
    <div class="row justify-content-center">
        {% for product in products %}
            <div class="col-xlg-2 col-lg-2 col-md-4 col-sm-6 col-6 mb-2 mt-5 h-25">
                <div class="card">
                    <a href="{{path('app_productcustomer_showwheelchair')}}">
                        <img src="{# {{asset('images/imagesUpload/' ~ product.image)}} #}{{product.image}}" alt="Doggo" class="first-image">
                    </a>
                    <div class="card-body">
                        <a href="#" onclick="addCart()">
                            <center>{% trans %}access{% endtrans %}</center>
                        </a>
                        <hr>
                        <center>
                            <h5 class="card-title">{{product.title}}</h5>
                            <h5 class="text-color-maisonphilo fw-bold">{{product.price|format_currency('CFA')}}</h5>
                        </center>
                    </div>
                    <button class="button-philo add-cart">
                        <i class="fas fa-shopping-cart"></i>
                        {% trans %}Add to cart{% endtrans %}</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
