{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product show{% endtrans %}
{% endblock %}
{% block body %}
    {# flash #}
    {% for message in app.flashes('comment') %}
        {% include "component/molecules/alertDesign.html.twig" with {
            alert : "success"
        } %}
    {% endfor %}
    <div class="mb-3 border border-rounded border-success" data-aos="fade-up" data-aos-duuration="3000">
        <div class="row g-0">
            <div class="col-md-4 col-lg-3 d-flex align-items-center">
                <img src="{{asset('images/imagesUpload/' ~ product.image)}} " class="img-fluid rounded-start" alt="{{product.title}} ">
            </div>
            <div class="col-md-8">
                <div class="card-body" data-aos="fade-up" data-aos-duuration="3000">
                    <h5 class="card-title">{{product.title}}</h5>
                    {# product description #}
                    <p class="card-text">
                        {% for product in product.description1|split('|') %}
                            <p>{{product}}</p>
                        {% endfor %}
                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-duuration="3000">
            <div class="col row">
                <small class="text-muted col-md">
                    <ul>
                        {% for product in product.description3|split('|') %}
                            <li>{{product}}</li>
                        {% endfor %}
                    </ul>
                </small>
                <div class="col-md" data-aos="fade-up" data-aos-duuration="3000">
                    <ul class="list-group border border-success mb-2 p-1">
                        {% if pagination.comments|length > 0 %}
                            <h1>{% trans %}The last 5 comments{% endtrans %}</h1>
                            {# comments list #}
                            {% for comment in pagination.comments %}
                                <strong class="fw-bold">{% trans %}Posted by{% endtrans %}
                                    {{comment.users.pseudo ?? comment.users.email}}
                                    {% trans %}on{% endtrans %}
                                    {{comment.createdAt|format_date}}
                                </strong>
                                <li class="list-group-item bg-light rounded">
                                    <blockquote>{{comment.content}}</blockquote>
                                </li>
                                {% if comment.rating %}
                                    <span>{% trans %}Rating product :
                                        {% endtrans %}
                                    </span>
                                    {# rating #}
                                    <div class="col">
                                        {% include "component/atoms/rating.html.twig" %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="list-group">
                                <h1>{% trans %}No comments for this product{% endtrans %}</h1>
                            </li>
                        {% endif %}
                    </ul>
                    {# Average grade #}
                    <div class="alert alert-success">
                        <h4 class="alert-heading text-center">
                            <div class="row">
                                {% if product.averageratings > 0 %}
                                    <div class="col">{% trans %}Global rating{% endtrans %}</div>
                                    <small>{% trans %}This rating is based on an average of
                                        {% endtrans %}
                                        {{pagination.comments|length}}
                                        {{pagination.comments|length > 1 ? 'commentaires' : 'commentaire'}}
                                    </small>
                                    <span>
                                        {% for i in 1..5 %}
                                            {% if i <= product.averageratings %}
                                                <i class="fas fa-star bg-light p-1"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <span>
                                            {% trans %}Be the first to rate this product{% endtrans %}
                                        </span>
                                    {% endif %}
                                </span>
                            </div>
                        </h4>
                    </div>
                    <hr
                    class="text-site-or p-2">
                    {# form #}
                    {% if app.user %}
                        <div class="col text-end rounded shadow" data-aos="zoom-in" data-aos-duration="2000">
                            {% if pagination.comments.items %}
                                {% set userComment = [] %}
                                {% for comment in pagination.comments %}
                                    {% if comment.users.pseudo == app.user.pseudo %}
                                        {% set userComment = userComment|merge([true]) %}

                                    {% else %}
                                        {% set userComment = userComment|merge([false]) %}
                                    {% endif %}
                                    {% if loop.last %}
                                        {% if true in userComment %}
                                            <h1 class="text-center">{% trans %}You have already posted a comment{% endtrans %}
                                            </h1>
                                        {% else %}
                                            {{form_start(commentForm)}}
                                            {{form_row(commentForm.content)}}
                                            {{form_row(commentForm.rating)}}
                                            {{form_end(commentForm)}}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{form_start(commentForm)}}
                                {{form_row(commentForm.content)}}
                                {{form_row(commentForm.rating)}}
                                {{form_end(commentForm)}}
                            {% endif %}

                        </div>
                    {% else %}
                        <a class="col btn btn-success button-philo d-flex justify-content-center">{% trans %}Register to be able to leave a comment{% endtrans %}</a>
                    {% endif %}
                </div>
            </div>
            {# add cart #}
            <div class="col-12 col-md justify-content-center" data-aos="fade-up" data-aos-duuration="3000">
                <div class="text-center row justify-content-center">
                    <a href="#" class="btn btn-success col-7 mb-2">{% trans %}Add to cart{% endtrans %}</a>
                    <div class="card bg-homypay text-light text-center mb-2 mx-auto col-7">{{product.price|format_currency('CFA')}}
                    </div>

                </div>
                <div class="justify-content-center d-flex">
                    <a href="{{path('app_productcustomer_showproducts')}}" class="btn btn-outline-success btn-lg mb-1">{% trans %}Back to the list{% endtrans %}</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
