{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product show{% endtrans %}
{% endblock %}
{% block body %}
    {% embed "component/molecules/productDesign.html.twig" %}
        {% block product_content %}
            <div class="card mb-3 border-success">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="{{asset('images/imagesUpload/' ~ product.image)}} " class="img-fluid rounded-start" alt="{{product.title}} ">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{product.title}}</h5>
                            <p class="card-text">
                                {% for product in product.description1|split('|') %}
                                    <p>{{product}}</p>
                                {% endfor %}
                            </p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <small class="text-muted col">
                        <ul>
                            {% for product in product.description3|split('|') %}
                                <li>{{product}}</li>
                            {% endfor %}
                        </ul>
                    </small>
                    <div class="col-12 col-md justify-content-center">
                        <div class="text-center row justify-content-center">
                            <a href="#" class="btn btn-success col-7 mb-2">{% trans %}Add to cart{% endtrans %}</a>
                            <div class="card bg-homypay text-light text-center mb-2 mx-auto col-7">{{product.price|format_currency('CFA')}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <img src="{{asset('images/logo_maison_philo1.png')}}" alt="" style="width:5em" class="logo mb-1 me-1">
        {% endblock %}
    {% endembed %}
{% endblock %}
