{% extends "dashboard/layout.html.twig" %}
{% block title %}
    {% trans %}Home |{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
    <h1>
        {% trans %}Welcome to{% endtrans %}
        {{webSiteName}}
        {% if app.user.pseudo is defined %}
            "{{app.user.pseudo}}"
        {% endif %}
    </h1>
    {#     {% for message in app.flashes('dashboard') %}
            {% include "component/molecules/alertDesign.html.twig" with {
                congrats : 'Well Done! '
            } %}
        {% endfor %} #}
    <div class="row mb-1 justify-content-center">

        <span class="side col-lg-12 text-center mb-2">{% trans %}The Aging : a coming challenge for Africa{% endtrans %}</span>
        <div class="mb-1 col-12 col-sm-12 col-md-12 col-lg-8 col-xlg-5 text-center">
            <img class="img-fluid" src="{{ asset('images/couple_agees2.jpg') }}" data-aos="fade-down-right" data-aos-duration="2000">
        </div>
        <div class='col-12 col-sm-12 col-md-12 col-lg-8 align-item-center' data-aos="fade-down-left" data-aos-duration="2000">
            {% for presentationContent in presentationContents %}
                <div class="col presentation">
                    <span class="text-center d-block">
                        {{presentationContent.header|trans}}
                    </span>
                    <span class="text-center d-block">
                        {{presentationContent.body|trans}}
                    </span>
                    <em class="text-center d-block mt-3">
                        {{presentationContent.footer|trans}}
                    </em>
                    <h2 class="text-center mt-3">{{presentationContent.title|trans}}
                    </h2>
                </div>
            {% endfor %}
        </div>

    </div>
    {% include "component/atoms/popupMenu.html.twig" %}

{% endblock %}
