{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product |{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
    <div id="toast"></div>
    <div id="toast-cart"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="card-index">
                    <a href="{{path('app_dashboard_history')}}">
                        <img src="{{asset('images/philo.jpg')}}" class="first-image">
                    </a>
                    <div class="card-index-body">
                        <a href="#" onclick="addCart()">
                            <center>{% trans %}access{% endtrans %}</center>
                        </a>
                        <hr>
                        <center>
                            <span class="fs-5">{% trans %}Our history{% endtrans %}</span>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card-index">
                    <a href="{{path('app_dashboard_index')}}">
                        <img src="{{asset('images/logo_maison_philo2.png')}}" class="first-image text-dark">
                    </a>
                    <div class="card-index-body">
                        <a href="{{path('app_dashboard_index')}}">
                            <center>{% trans %}access{% endtrans %}</center>
                        </a>
                        <hr>
                        <center>
                            <span class="card-index-title fs-5">{% trans %}Our vision{% endtrans %}</span>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2" href="{{path('app_dashboard_index')}}">
                <div class="card-index"></span>
                <a href="{{path('app_dashboard_index')}}">
                    <img src="{{asset('images/ourobjective1.jpg')}}" class="first-image">
                </a>
                <div class="card-index-body">
                    <a href="{{path('app_dashboard_index')}}">
                        <center>{% trans %}access{% endtrans %}</center>
                    </a>
                    <hr>
                    <center>
                        <span class="card-index-title fs-5">{% trans %}Our objective{% endtrans %}</span>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}
