{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product |{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
    <div class="row justify-content-evenly mb-3">
        <div class="card col-md-4 mb-2 shadow" style="width: 30rem;">
            <div class="index-img">
                <img src="{{asset('images/philo.jpg')}}" class="card-img-top" alt="{% trans %}Image health care{% endtrans %}"></div>

            <div class="card-body text-center">
                <h5 class="card-title">{% trans %}Our history{% endtrans %}</h5>

                <a href="{{path('app_dashboard_history')}}" class="btn button-success button-philo">{% trans %}Access{% endtrans %}</a>
            </div>
        </div>
        <div class="card col-md-4 mb-2 shadow" style="width: 30rem;">
            <div class="index-img">
                <img src="{{asset('images/logo_maison_philo2.png')}}" class="card-img-top" alt="{% trans %}Image health care{% endtrans %}">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{% trans %}Our vision{% endtrans %}</h5>
                <a href="{{path('app_dashboard_index')}}" class="btn button-philo">{% trans %}Access{% endtrans %}</a>
            </div>
        </div>
        <div class="card col-md-4 mb-2 shadow" style="width: 30rem;">
            <div class="index-img">
                <img src="{{asset('images/ourobjective1.jpg')}} " class="card-img-top" alt="{% trans %}Image health care{% endtrans %}">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{% trans %}Our objective{% endtrans %}</h5>
                <a href="{{path('app_dashboard_index')}}" class="btn button-philo">{% trans %}Access{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
