<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path(routePath)}} ">
            <img src="{{asset('images/logo_maison_philo2.png')}}" class="bg-light w-100" col="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light nav-text-maisonphilo" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans %}welcome to our house{% endtrans %}
                    </a>
                    <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="row  ">
                                <a class="dropdown-item col fw-bold text-site " href="{{path('app_dashboard_index')}}">
                                    {% trans %}Who are we?{% endtrans %}
                                </a>
                                <a class="dropdown-item col fw-bold text-site " href="{{path('app_productcustomer_index')}}">
                                    {% trans %}Our products{% endtrans %}
                                </a>
                                <a class="dropdown-item col fw-bold text-site " href="#">
                                    {% trans %}Aging{% endtrans %}
                                </a>
                                <a class="dropdown-item col fw-bold text-site " href="#">
                                    {% trans %}Country file{% endtrans %}
                                </a>
                            </div>
                            <div class="row">
                                <a class="dropdown-item col text-site-or " href="{{path('app_dashboard_history')}} ">{% trans %}Our story{% endtrans %}</a>
                                <a class="dropdown-item col text-site-or " href="#">
                                    {% trans %}health care{% endtrans %}
                                </a>
                                <a class="dropdown-item col text-site-or " href="#">
                                {% trans %}In the world{% endtrans %}</a>
                                <a class="dropdown-item col text-site-or " href="#">
                                    {% trans %}Ivory Coast{% endtrans %}
                                </a>
                            </div>
                            <div class="row">
                                <a class="dropdown-item col text-site-or " href="#">
                                {% trans %}Our vision{% endtrans %}
                                </a>
                                <a class="dropdown-item col text-site-or " href="#">
                                    {% trans %}Incontinence{% endtrans %}
                                </a>
                                <a class="dropdown-item col text-site-or " href="#">
                                {% trans %}In Africa{% endtrans %}</a>
                                <a class="dropdown-item col text-site-or " href="#"></a>
                            </div>
                            <div class="row">
                                <a class="dropdown-item col text-site-or " href="#">
                                {% trans %}Our objective{% endtrans %}</a>
                                <a class="dropdown-item col text-site-or " href="{{path('app_productcustomer_show')}}">
                                    {% trans %}Mobility aid{% endtrans %}
                                </a>
                                <a class="dropdown-item col text-site-or " href="#"></a>
                                <a class="dropdown-item col text-site-or " href="#"></a>
                            </div>


                        </li>
                    </ul>
                </li>
                {% set test = 10 %}
                {#{{ (test == 10) ? "oui" : "non" }} #}
                {% if app.user %}
                    <li
                        class="nav-item text-light">
                        {# {{ (test == 10) ? 'bg-danger' : 'bg-warning' }} #}
                        <a class="nav-link nav-text-maisonphilo" href="">{% trans %}Profile{% endtrans %}</a>
                    </li>
                    {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-text-maisonphilo" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="text-light">
                                {% trans %}Site management{% endtrans %}
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    <div class="row  ">
                                        <a class="dropdown-item col fw-bold text-site" href="{{path('app_admin_index')}}">
                                            {% trans %}User Management{% endtrans %}
                                        </a>
                                        <a class="dropdown-item col fw-bold text-site" href="{{path('app_category_index')}} ">
                                            {% trans %}Category management{% endtrans %}</a>
                                        <a class="dropdown-item col fw-bold text-site" href="{{path('app_product_index')}}">
                                            {% trans %}product management{% endtrans %}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                {% if not app.user %}
                    <li class="nav-item ">
                        <a class="nav-link " href="{{ path('app_security_register')}}">
                            {% trans %}Register{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_security_login')}}">
                            {% trans %}Log in{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="d-flex">
                        <a href="{{ path('app_logout')}}" class="btn text-warning">{% trans %}Log out{% endtrans %}</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    {% trans %}Search{% endtrans %}
                </button>
            </form>
            {% include "component/atoms/language.html.twig" %}
        </div>
    </div>
</nav>
